body {
    background: #f2f3f5;
}

#header {
    background: #BEDCFE;
    color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 10px;
    font-size: 70px;
}

#header-links, #header-nav {
    text-decoration: none;
    color: #6A8D73;
    text-align: center;
    background: #e4ffe1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-img-container {
    position: relative;
    text-align: center;
    color: white;
}

.contact-img-container {
    position: relative;
    text-align: center;
}

.home-img-container {
    position: relative;
    text-align: center;
}

.about-us {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 20px;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.5);
}

.contact-us {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 20px;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.5);
}

p.home-message {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 20px;
    width: 80%; 
    background-color: rgba(0, 0, 0, 0.5);
}

.contact-form {
    width: 900px;
    margin: 0 auto;
    padding: 30px 100px;
    text-align: left;
    font-weight: bold;
}

.sub-headers {
    color: #41602B; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline dotted #cbc2a3;
    font-weight: bold;
    padding-left: 5%;
    padding-right: 5%;
}

.about-para {
    color: #3a414a;
    font-weight: 200;
    padding-left: 5%;
    padding-right: 5%;
}

.about-bullet {
    color: #3a414a;
    font-weight: 200;
    padding-left: 8%;
    padding-right: 5%;
}

.about-quote {
    color: #3a414a;
    font-weight: 200;
    padding-left: 15%;
    padding-right: 15%;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  /*
  -ms-transform: translate(-50%, -50%);*/
}

.signup-btn { 
background-color: #cbc2a3;
width: 250px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: #3a414a;
font-weight: 200;
margin-bottom: 50px;
}

.submit-btn { 
    background-color: #cbc2a3;
    width: 250px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3a414a;
    font-weight: 200;
    margin-bottom: 50px;
}

.footer {
    background-color: #41602B;
    align-items: center;
}

.contact-box {
    max-width: 100%;
    width: 600px;
    height: auto;
    text-align: left;
    border: 5px solid transparent;
    padding: 10px;
    margin: 0 auto;
    color:black;
    font-weight:normal;
    font-size: medium;
    background-color: white;
    border-radius: 15px;
}

.radio-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}

.card {
    flex: 0 0 auto;
    width: 10px;
    margin: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px;
}